.searchForm {
    display: flex;
    justify-content: center;
}
.moreInfo {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .searchForm {
        font-size: 20px
    }
    .moreInfo {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .searchForm {
        font-size: 30px
    }
    .moreInfo {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .searchForm {
        font-size: 35px
    }
    .moreInfo {
        font-size: 35px;
    }
}
