body {
  background-color: rosybrown;
  align-items: center;
  text-align: center;
}

.details {
  font-size: 30px;
}

.homeBtn {
  font-size: 50px;
  padding: 20px 100px;
}

.searchBtn {
  font-size: 50px;
  padding: 20px 100px;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.video {
  display: flex;
  justify-content: center;
}
